html,body{
	margin: 0 auto;
}
.wrapper{
	max-width:2200px;
	margin: 0 auto;
}
.header{
	background:#448ac8;
	min-height:65px;
}
.header img{
	width: 55px;
	}
.hfont{
	display: inline-block;
	font-size: 35px;
    font-family: Arial;
	padding-left: 5%;
    padding-top: 10px;  
	color:#ffffff;
}
.hh{
	color:white;
}
.menu{
	background:#448ac8;
    padding: 15px;
	padding-right: 20px;
	width: 50px;
	float: right;
}
}
.menu li{
	display:inline;
	float: left;
	margin-right: 0 10px;
}
.menu li.active{
	background-color: #000000;
}
.menu a:hover{
	background-color: #232324;

}
.menu a{
	display: block;
	padding: 0 10px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
}
.second{
	background:#eb4f4e;
	padding:50px;
}
.Welcome{
	font-family: Arial,sans-serif;
	font-size:50px;
	color:white;
	text-align:center;
}
.smartf {
	font-family: Arial,sans-serif;
	font-size:35px;
	color:white;
	text-align:center;
}
.third{
	padding:50px;
	background-color: #ffdd93;
}
.third h2{
	font-size:35px;
	font-family: Arial,sans-serif;
	color:white;
	text-align:center;
}
.this{
	font-family: monospace;
	color:#000000;
	text-align:center;
	font-size:30px;

}.thiss{
	font-family: Arial,sans-serif;
	color:#a73f3e;
	text-align:center;
	font-size:20px;
}
.third h3{
	font-family: Arial,sans-serif;
	color:white;
	text-align:center;
}
.items{
	text-align:center;
}
.items img{
	width:1000px;
    height: 500px;
}
.items h3{
	font-size:35px;
}
.fourth{
	background-color:#6cc372;
	padding:50px;
}
.fourth h2{
	font-size:30px;
	font-family: Arial,sans-serif;
	color:white;
	text-align:center;
}
.this1{
	font-family: Arial,sans-serif;
	color:black;
	text-align:center;
}
.fourth p{
	font-family: Arial,sans-serif;
	color:#6cc372;
}
.fourth .posts{
	font-family: Arial,sans-serif;
	color:#ba382c;
}
.accounts{
	text-align:center;
}
.accounts img{
	width:400px;
}
.account1{
	background-color:white;
	display:inline-block;
	margin:10px;
	padding:10px;
}
.account2{
	background-color:white;
	display:inline-block;
	margin: 10px;
	padding:10px;
}
.account2 img{
	width:370px;
}
.follow{
	background-color:#6cc372;
	font-family:Arial,sans-serif;
	color:white;
	padding:10px;

}
.follow a{
	text-decoration:none;
	color:white;
}
.follow img{
	max-width:25px;
	float:left;
}
.footer{
	background-color:#232324;
	padding:10px;

}
.motion{
	display:inline-block;
	color:#a73f3e;
}
.foot{
	display:inline-block;
	color:white;
	margin-right:600px;

}
.icons img{
	background-color:#eb4f4e;
	max-width:10px;
	padding:3px;
}
.icons .two{
	max-width:17px;
	padding:5px;
}
.icons .three{
	max-width:15px;
	padding:4px;
}
.icons{
	display:inline-block;
	text-align:center;

}
.kurstar{
	font-size:25px;
	font-family: Arial,sans-serif;}
.kurstar .takyryp{
	color:#f56262;
}
.sabaktar{
	color:#000;
	text-decoration:none;
}
.sabaktar:hover{
	color:#fff;
}
form{
  margin:0 auto;
  max-width:95%;
  box-sizing:border-box;
  padding:40px;
  border-radius:5px;
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}
.input{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  padding:10px;
  margin-bottom:30px;
}
.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,1,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#90c843;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}
.button:hover{
  background:#80b438;
}
.sertificates img{
	width:500px;
	padding:5px;
}
.ss{
	float:left;
}


@media screen and (max-width: 480px){
	.menu li{
		display:block;
		text-align:center;
	}
